<aside>
    <div class="w-64 h-full shadow-md bg-primary-900 absolute text-white" id="sidenavSecExample">
        <div class="pt-8 pb-6 px-6">
              <div class="flex items-center">
                <div class="shrink-0">
                  <img src="/assets/Logomark.png" class="rounded-full w-10" alt="Logomark">
                </div>
                <div class="grow ml-3">
                  <p class="text-text_lg font-semibold text-white">Untitled UI
                  </p>
                </div>
              </div>
          </div>
        
        <ul class="relative px-4">
            <div class="flex justify-center">
                <div class="mb-3 xl:w-52">
                  <div class="input-group relative flex flex-wrap items-stretch w-full mb-4 rounded-lg">
                    <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-text-base bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-white focus:bg-white focus:border-primary-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                  </div>
                </div>
            </div>
            <div class="">
                <ul class="relative">
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/main/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/home.png" class="mr-3" alt="">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="/kurikulum/<%= admin._id %>">
                            <img src="/assets/3-layers.png" class="mr-3" alt="">
                            <span>Kurikulum</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/siswa/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/check-square.png" class="mr-3" alt="">
                            <span>Nilai Siswa</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/data_sharing/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/cloud.png" class="mr-3" alt="">
                            <span>Data Sharing</span>
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
        <div class="text-center bottom-0 absolute w-full">
            <div class="px-4">
                <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                <img src="/assets/settings.png" class="mr-3" alt="">
                <span>Settings</span>
                </a>
            </div>
            <div>
                <div class="flex items-center px-6 before:flex-1 before:border-t before:border-gray-500 before:mt-0.5 after:flex-1 after:border-t after:border-gray-500 after:mt-0.5"></div>
            </div>
        </div>
    </div>
</aside>

<main class="flex-1 ml-64 overflow-y-scroll max-h-screen">
    <div class="pt-12 pl-9 pr-14 flex items-center">
        <div class="flex-1">
            <h1 class="text-display_sm font-medium">Kurikulum Tingkatan</h1>
            <p class="text-text_md font-regular text-gray-500">Atur kurikulum dan mata pelajaran setiap tingkatan</p>
        </div>
        <div>
            <a href="/kurikulum/<%= admin._id %>/tambah_jurusan">
                <button type="button" class="bg-primary-600 text-white text-text_md rounded-lg text-center inline-flex items-center px-6 py-3">Tambah Jurusan</button>
            </a>
        </div>
    </div>
    
    <div class="pl-8 pr-14 pt-5">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500">
                <caption class="p-5 font-semibold text-text-base bg-white">
                    <div class="flex items-center">
                        <h1 class="text-left flex-1">Tingkat 10</h1>
                    </div>
                </caption>
                <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Jurusan
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Semester
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Standar Kurikulum
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Skala Penilaian
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Date Uploaded
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Last Updated
                        </th>
                        <th scope="col" class="py-3 px-6">
                            <span class="sr-only"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% dataKurikulum.filter((kurikulum) => kurikulum.tingkatan === '10').forEach(kurikulum => { %>
                        <tr class="bg-white border-b">
                            <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                                <%= kurikulum.jurusan %> 
                            </th>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.semester %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.standarKurikulum %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.skalaPenilaian %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= moment(kurikulum.updatedAt).format("lll") %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= moment(kurikulum.createdAt).format("lll") %>
                            </td>
                            <td class="py-7 px-1">
                                <a href="/kurikulum/<%= admin._id %>/edit/<%= kurikulum._id %>">
                                    <img src="/assets/edit-2.png" alt="" style="height:20px ; width: 20px;">
                                </a>
                            </td>
                            <td class="py-7 pl-2 pr-4">
                                <form action="/kurikulum/hapusJurusan?_method=DELETE" method="POST">
                                    <input type="hidden" name="jurusanId" value="<%= kurikulum._id %>">
                                    <input type="hidden" name="adminId" value="<%= admin._id %>">
                                    <button type="submit" onclick="return confirm('Yakin ingin menghapus siswa?')"><img src="/assets/trash.png" alt="" style="height:20px; width: 20px;"></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="pl-8 pr-14 pt-5">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500">
                <caption class="p-5 font-semibold text-text-base bg-white">
                    <div class="flex items-center">
                        <h1 class="text-left flex-1">Tingkat 11</h1>
                    </div>
                </caption>
                <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Jurusan
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Semester
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Standar Kurikulum
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Skala Penilaian
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Date Uploaded
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Last Updated
                        </th>
                        <th scope="col" class="py-3 px-6">
                            <span class="sr-only"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% dataKurikulum.filter((kurikulum) => kurikulum.tingkatan === '11').forEach(kurikulum => { %>
                        <tr class="bg-white border-b">
                            <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                                <%= kurikulum.jurusan %> 
                            </th>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.semester %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.standarKurikulum %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.skalaPenilaian %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= moment(kurikulum.updatedAt).format("lll") %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= moment(kurikulum.createdAt).format("lll") %>
                            </td>
                            <td class="py-7 px-1">
                                <a href="/kurikulum/<%= admin._id %>/edit/<%= kurikulum._id %>">
                                    <img src="/assets/edit-2.png" alt="" style="height:20px ; width: 20px;">
                                </a>
                            </td>
                            <td class="py-7 pl-2 pr-4">
                                <form action="/kurikulum/hapusJurusan?_method=DELETE" method="POST">
                                    <input type="hidden" name="jurusanId" value="<%= kurikulum._id %>">
                                    <input type="hidden" name="adminId" value="<%= admin._id %>">
                                    <button type="submit" onclick="return confirm('Yakin ingin menghapus siswa?')"><img src="/assets/trash.png" alt="" style="height:20px; width: 20px;"></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="pl-8 pr-14 pt-5 pb-10">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-left text-gray-500">
                <caption class="p-5 font-semibold text-text-base bg-white">
                    <div class="flex items-center">
                        <h1 class="text-left flex-1">Tingkat 12</h1>
                    </div>
                </caption>
                <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Jurusan
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Semester
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Standar Kurikulum
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Skala Penilaian
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Date Uploaded
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Last Updated
                        </th>
                        <th scope="col" class="py-3 px-6">
                            <span class="sr-only"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% dataKurikulum.filter((kurikulum) => kurikulum.tingkatan === '12').forEach(kurikulum => { %>
                        <tr class="bg-white border-b">
                            <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                                <%= kurikulum.jurusan %> 
                            </th>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.semester %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.standarKurikulum %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= kurikulum.skalaPenilaian %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= moment(kurikulum.updatedAt).format("lll") %>
                            </td>
                            <td class="py-7 px-8 ">
                                <%= moment(kurikulum.createdAt).format("lll") %>
                            </td>
                            <td class="py-7 px-1">
                                <a href="/kurikulum/<%= admin._id %>/edit/<%= kurikulum._id %>">
                                    <img src="/assets/edit-2.png" alt="" style="height:20px ; width: 20px;">
                                </a>
                            </td>
                            <td class="py-7 pl-2 pr-4">
                                <form action="/kurikulum/hapusJurusan?_method=DELETE" method="POST">
                                    <input type="hidden" name="jurusanId" value="<%= kurikulum._id %>">
                                    <input type="hidden" name="adminId" value="<%= admin._id %>">
                                    <button type="submit" onclick="return confirm('Yakin ingin menghapus siswa?')"><img src="/assets/trash.png" alt="" style="height:20px; width: 20px;"></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>