<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<aside>
    <div class="w-64 h-full shadow-md bg-primary-900 absolute text-white" id="sidenavSecExample">
        <div class="pt-8 pb-6 px-6">
              <div class="flex items-center">
                <div class="shrink-0">
                  <img src="/assets/Logomark.png" class="rounded-full w-10" alt="Logomark">
                </div>
                <div class="grow ml-3">
                  <p class="text-text_lg font-semibold text-white">Untitled UI
                  </p>
                </div>
              </div>
          </div>
        
        <ul class="relative px-4">
            <div class="flex justify-center">
                <div class="mb-3 xl:w-52">
                  <div class="input-group relative flex flex-wrap items-stretch w-full mb-4 rounded-lg">
                    <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-text-base bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-white focus:bg-white focus:border-primary-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                  </div>
                </div>
            </div>
            <div class="">
                <ul class="relative">
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/main/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/home.png" class="mr-3" alt="">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="/kurikulum/<%= admin._id %>">
                            <img src="/assets/3-layers.png" class="mr-3" alt="">
                            <span>Kurikulum</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/siswa/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/check-square.png" class="mr-3" alt="">
                            <span>Nilai Siswa</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/data_sharing/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/cloud.png" class="mr-3" alt="">
                            <span>Data Sharing</span>
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
        <div class="text-center bottom-0 absolute w-full">
            <div class="px-4">
                <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                <img src="/assets/settings.png" class="mr-3" alt="">
                <span>Settings</span>
                </a>
            </div>
            <div>
                <div class="flex items-center px-6 before:flex-1 before:border-t before:border-gray-500 before:mt-0.5 after:flex-1 after:border-t after:border-gray-500 after:mt-0.5"></div>
            </div>
        </div>
    </div>
</aside>

<main class="flex-1 ml-64 overflow-y-scroll max-h-screen">
    <div class="pt-12 pl-9 flex">
        <div>
            <h1 class="text-display_sm font-medium">Tambah Siswa</h1>
            <p class="text-text_md font-regular text-gray-500">Atur kelas dan siswa untuk setiap tingkatan</p>
        </div>
    </div>
    
    <div class="flex items-start pl-9 pt-5">
        <div class="p-5 w-72  mr-14 border border-gray-200 shadow-md rounded-lg">
            <div class="pb-5">
                <h1 class="text-text_lg font-medium">Jenis Studi</h1>
                <p class="text-text_md font-regular">Reguler</p>
            </div>
            <div class="pb-5"> 
                <h1 class="text-text_lg font-medium">Tingkatan</h1>
                <p class="text-text_md font-regular"><%= dataKelas.jurusan.tingkatan %></p>
            </div>
            <div class="pb-5">
                <h1 class="text-text_lg font-medium">Nama Kelas</h1>
                <p class="text-text_md font-regular"><%= dataKelas.nama %></p>
            </div>
            <div class="pb-5">
                <h1 class="text-text_lg font-medium">Jurusan</h1>
                <p class="text-text_md font-regular"><%= dataKelas.jurusan.jurusan %></p>
            </div>
            <div class="pb-5">
                <h1 class="text-text_lg font-medium">Standar Kurikulum</h1>
                <p class="text-text_md font-regular"><%= dataKelas.jurusan.standarKurikulum %></p>
            </div>
        </div>
        
        <div class="pr-14 pb-10 w-full">
            <div class="overflow-x-auto w-full shadow-md sm:rounded-lg">
                <table class="w-full text-left text-gray-500">
                    <caption class="p-5 font-semibold text-text-base bg-white">
                        <div class="flex items-center">
                            <h1 class="text-left flex-1 text-display_xs">Daftar Siswa</h1>
                            <div>
                                <a href="/siswa/<%= admin._id %>/tambah_siswa/<%= dataKelas._id %>">
                                    <button type="button" class="bg-primary-600 text-white text-text_sm rounded-lg text-center inline-flex items-center px-4 py-3">
                                        <span class="mr-2"><img src="/assets/plus.png" alt="" class=" w-5 h-5"></span>
                                        Tambah Siswa</button>
                                </a>
                            </div>
                        </div>
                    </caption>
                    <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Nama Siswa
                            </th>
                            <th scope="col" class="py-3 px-6">
                                NISN
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Date Uploaded
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Last Updated
                            </th>
                            <th scope="col" class="py-3 px-6">
                                <span class="sr-only"></span>
                            </th>
                            <th scope="col" class="py-3 px-6">
                                <span class="sr-only"></span>
                            </th>
                            <th scope="col" class="py-3 px-6">
                                <span class="sr-only"></span>
                            </th>
                        </tr>
                    </thead>
                    <div >
                    <tbody  id="abc"  >
                        <div>
                       
                        <% dataKelas.siswa.forEach(siswa => { %>
                            <tr class="bg-white border-b">
                                <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                                    <%= siswa.namaSiswa %>
                                </th>
                                <td class="py-7 px-8 ">
                                    <%= siswa.nisn %>
                                </td>
                                <td class="py-7 px-8 ">
                                    <%= moment(siswa.createdAt).format("lll") %>
                                </td>
                                <td class="py-7 px-8 ">
                                    <%= moment(siswa.updatedAt).format("lll") %>
                                </td>
                                <td class="py-7 px-8 scroll-px-1">
                                    <a href="/siswa/<%= admin._id %>/<%= dataKelas._id %>/<%= siswa._id %>">
                                        <img src="/assets/plus-black.png" alt="" style="height:20px ; width: 20px;">
                                    </a>
                                </td><td class="py-7 px-1">
                                    <a href="/siswa/<%= admin._id %>/<%= dataKelas._id %>/<%= siswa._id %>/edit">
                                        <img src="/assets/edit-2.png" alt="" style="height:20px ; width: 20px;">
                                    </a>
                                </td>
                                <td class="py-7 pl-2 pr-4">
                                    <form action="/siswa/hapusSiswa?_method=DELETE" method="POST">
                                        <input type="hidden" name="siswaId" value="<%= siswa._id %>">
                                        <input type="hidden" name="adminId" value="<%= admin._id %>">
                                        <input type="hidden" name="kelasId" value="<%= dataKelas._id %>">
                                        <button type="submit" onclick="return confirm('Yakin ingin menghapus siswa?')"><img src="/assets/trash.png" alt="" style="height:20px; width: 20px;"></button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </div>
                    </tbody>
                </div>
                </table>
            </div>
        </div>
    </div>
</main>

    <script>


const article = document.getElementById("abc");
const para = document.createElement("div");
    //const article = appendChild(document.createElement('abc'))
    // abc.innerHTML = `

    // <tr class="bg-white border-b">
    //                             <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
    //                           hi
    //                             </th>
    //                             <td class="py-7 px-8 ">
    //                                 hi
    //                             </td>
    //                             <td class="py-7 px-8 ">
    //                                 hi
    //                             </td>
    //                             <td class="py-7 px-8 ">
    //                            hi
    //                             </td>
    //                             <td class="py-7 px-8">
    //                                 <span class="bg-success-50 text-success-700 border border-success-500 text-text_sm font-medium mr-2 px-2.5 py-0.5 rounded">Lengkap</span>
    //                             </td>
    //                             <td class="py-7 scroll-px-1">
                                    
    //                                     <img src="/assets/plus-black.png" alt="" style="height:20px ; width: 20px;">
    //                                 </a>
    //                             </td><td class="py-7 px-1">
    //                                hi
    //                                     <img src="/assets/edit-2.png" alt="" style="height:20px ; width: 20px;">
    //                                 </a>
    //                             </td>
    //                             <td class="py-7 pl-2 pr-4">
    //                                 <form action="" method="POST">
    //                                     <input type="hidden" name="siswaId" value="
    //                                     <input type="hidden" name="adminId" value="">
    //                                     <input type="hidden" name="kelasId" value="">
    //                                     <button type="submit" onclick="return confirm('Yakin ingin menghapus siswa?')"><img src="/assets/trash.png" alt="" style="height:20px; width: 20px;"></button>
    //                                 </form>
    //                             </td>
    //                         </tr>
                             
                              
    // `;


// window.addEventListener('load', async () => {

//         //var a = 
//         var a = [1 ,2 , 3 ]
         
//         a.forEach((doc) => {
 
    
//     //const node = document.createTextNode(b);

//     article.appendChild(abc);
  
// });
// })
    </script>
</body>
</html>