<form action="/kurikulum/editJurusan?_method=PUT" method="post">
    <input type="hidden" name="adminId" value="<%= admin._id %>">
    <input type="hidden" name="jurusanId" value="<%= dataJurusan._id %>"/>
    <div class="pt-5 px-9 w-auto">
        <div class="border border-gray-300 rounded-lg px-9 py-7">
            <div class="mb-3 mr-5 pb-4">
                <h1 class="text-text_lg font-medium">Edit Jurusan</h1>
            </div>
            <div class="mb-3 mr-5">
                <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Tingkatan</label>
                <select class="form-select appearance-none
                h-11 
                w-96
                block
                px-3
                py-1.5
                text-base
                font-normal
                text-text-base
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                focus:ring-primary-600
                transition
                ease-in-out
                m-0
                rounded-lg
                focus:text-text-base focus:bg-white focus:outline-none" id="tingkatan" name="tingkatan">
                    <option selected><%= dataJurusan.tingkatan %></option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="mb-3 mr-5 pt-5">
                <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Jurusan</label>
                <select class="form-select appearance-none
                h-11 
                w-96
                block
                px-3
                py-1.5
                text-base
                font-normal
                text-text-base
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                focus:ring-primary-600
                transition
                ease-in-out
                m-0
                rounded-lg
                focus:text-text-base focus:bg-white focus:outline-none" id="jurusan" name="jurusan">
                    <option selected><%= dataJurusan.jurusan %></option>
                    <option value="MIPA">MIPA</option>
                    <option value="IPS">IPS</option>
                </select>
            </div>
            <div class="mb-3 mr-5 pt-5">
                <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Semester</label>
                <select class="form-select appearance-none
                h-11 
                w-96
                block
                px-3
                py-1.5
                text-base
                font-normal
                text-text-base
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                focus:ring-primary-600
                transition
                ease-in-out
                m-0
                rounded-lg
                focus:text-text-base focus:bg-white focus:outline-none" id="semester" name="semester">
                    <option selected><%= dataJurusan.semester %></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="mb-3 mr-5 pt-5">
                <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Standar Kurikulum</label>
                <select class="form-select appearance-none
                h-11 
                w-96
                block
                px-3
                py-1.5
                text-base
                font-normal
                text-text-base
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                focus:ring-primary-600
                transition
                ease-in-out
                m-0
                rounded-lg
                focus:text-text-base focus:bg-white focus:outline-none" id="standarKurikulum" name="standarKurikulum">
                    <option selected><%= dataJurusan.standarKurikulum %></option>
                    <option value="K13">K13</option>
                    <option value="Kurikulum Merdeka">Kurikulum Merdeka</option>
                </select>
            </div>
            <div class="mb-3 mr-5 pt-5">
                <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Skala Penilaian</label>
                <select class="form-select appearance-none
                h-11 
                w-96
                block
                px-3
                py-1.5
                text-base
                font-normal
                text-text-base
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                focus:ring-primary-600
                transition
                ease-in-out
                m-0
                rounded-lg
                focus:text-text-base focus:bg-white focus:outline-none" id="skalaPenilaian" name="skalaPenilaian">
                    <option selected><%= dataJurusan.skalaPenilaian %></option>
                    <option value="100">100</option>
                    <option value="Huruf">Huruf</option>
                </select>
            </div>
            <div class="pt-5 px-9 flex justify-end">
                <button type="submit" class="bg-primary-600 text-white text-text_md rounded-lg text-center inline-flex items-center px-5 py-3">Simpan Perubahan</button>
            </div>
        </div>
    </div>
</form>